@CHARSET "UTF-8";
* { word-break: break-all; }
body {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
}
div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, fieldset, form, input, textarea, p {
	margin: 0px;
	padding: 0px;
}
ul, li {
	list-style: none;
}
img, a img {
	border: 0px;
	text-decoration: none;
}
a {	
	text-decoration: none;
	
}
a:hover {
	text-decoration: underline;
}
